*{
    box-sizing: border-box;
}
body{
    margin: 0;
    
}
section {
    padding: 20px 300px;
    background-color: #1a17014b;
}
.navbar{
    background: linear-gradient(90.41deg, #131100 1.14%, #131601b4 100%);
    height: 65px;
    display: flex;
    align-items: center;
    color: white;
    padding: 20px;
}
.navbar > h1{
    margin-right: 50%;
    border: 10px;
    border-color: #000000;
}
.navbar > a{
    margin: 20px;
    border: 10px;
    border-color: #000000;
}
.card { 
    width: 300px;
    font-size: 18px;
    flex: 0 0 auto;         
    display: flex;          
    flex-flow: column wrap; 
    position: relative;
    outline: 10px;
    border-width:2px;
    border-style:solid;
    border-color:#13110023;
    border-radius:10px ;
}
.card--stats{
    min-width: 160px;
    margin-left: 10px;
}
.card--image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}
.card--list {
    display:flex;
    align-content: stretch;
    flex-wrap: wrap;
    gap: 20px;
    
}