*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #1a17013b;
    
}
section {
    padding: 20px 20%;
    
}
.navbar{
    background: linear-gradient(90.41deg, #131100 1.14%, #131601b4 100%);
    height: 65px;
    display: flex;
    align-items: center;
    color: white;
    
}
.navbar > h1{
    margin-right: 50%;
    
}
.navbar--links{
    margin: 20px;
    text-decoration: none;
    color: white;
}
.navbar--links--login{
    
}

.card { 
    width: 300px;
    font-size: 18px;
    flex: 0 0 auto;         
    display: flex;          
    flex-flow: column wrap; 
    position: relative;
    border: 2px solid #13110023;
    border-radius:10px ;
}
.card--stats{
    min-width: 160px;
    margin-left: 10px;
}
.card--image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}
.card--list {
    display:flex;
    align-content: stretch;
    flex-wrap: wrap;
    gap: 20px;
}
.loginForm--box{
    display: flex;
    flex-direction: column;
    padding: 23%;
}
.forms--inputs{
    margin: 10px;
    border-radius: 12px;
    font-size: 22px;
}